.input-group {
  border-radius: 5px;
}

.add {
  min-height: 100px;
}

.add_name,
.add_sport {
  max-height: 45px;
}

.col-center {
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
