/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

#app {
  width: 72%;
  margin: 0 auto;
  text-align: center;
}

#add_sportsman {
  display: block;
  width: 200px;
  line-height: 36px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto 30px;
  border: none;
  border-radius: 10px;
}

.index {
  height: 400px;
  margin: 0 auto;
}


.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.title {
  width: 25%;
  margin: 50px auto 20px;
  color: white;
}

.input-group {
  border-radius: 5px;
}

.add {
  min-height: 100px;
}

.add_name,
.add_sport {
  max-height: 45px;
}

.col-center {
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button_edit {
  margin-right: 20px;
}

.error {
  border: 2px solid red;
}

