.btn_edit {
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
}

.middle_radio {
  margin: 0 50px;
}

.edit_form {
  margin-bottom: 20px;
}

.btn_cancel {
  margin-left: 40px;
}

.button_edit {
  margin-right: 20px;
}

.center {
  margin: 20px auto;
}

.button_edit_bottom {
  margin-bottom: 20px;
}

.error {
  border: 2px solid red;
}
